.main-nav {
    height: 60px;
    background: hsl(0, 0%, 95%);
    display: flex;
    gap: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px hsl(0, 0%, 50%);
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: center;
}

.main-nav-link {
    display: flex;
    justify-items: center;
    align-items: center;
    border: 2px solid #45474a;
    border-radius: 3px;
    color: #091408;
    padding: 5px;
    transition: all 0.15s ease-in-out
}

.main-nav-link:hover {
    background: #45474a;
    color: hsl(0, 0%, 95%);
}